/* main of new password page */

.content-new-password{
  height: 22.59em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-new-password__column{
  height: 18.64em;
  width: 19.44em;
}

.new-password-user{
  height: 13.36em;
  width: 19.44em;
}

.new-password-user__fields{
  height: 7.22em;
}