/* main of recovery password page */

.content-recovery-password{
  height: 18.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-recovery-password__column{
  height: 14.75em;
  width: 19.44em;
}

.recovery-user{
  height: 9.47em;
}

.recovery-user__fields{
  height: 2.78em;
}